body
{
    background-image: url('tictac.jpg');
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin: 0;
    height: 100vh;
            
}
.box
{
    justify-content: center;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px); 
    margin: 0;
    gap:5px;
    padding: 10px;
    color: white;
    border: 4px solid rgba(13, 171, 76, 0.8); /* Outer glowing border */
    background-color: rgba(0, 0, 0, 0.3); 
    box-shadow: 0 0 15px #0f5c2e, 0 0 30px #085426, 0 0 60px #045022;
    width: 310px;
    height: 310px;
    border-radius: 10px;
    
}
.cell {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3); /* Transparent background for cells */
    text-shadow: 0 0 10px rgba(0, 255, 102, 0.8); /* Glowing text */
    border: 2px solid rgba(0, 255, 102, 0.8); /* Borders between cells */
    box-shadow: 0 0 20px rgba(0, 255, 102, 0.8);
    width: 100px;
    height: 100px;
}
.cell.x {
    color: red; 
    font-size: 3em; 
    font-weight: bold; 
}

.cell.o {
    color: rgb(255, 255, 255); 
    font-size: 3em; 
    font-weight: bold; 
}
#he4
{
margin-left: 85px;
margin-bottom: 10px;
font-family: serif;

}
.box2
{
    display: flex;
    flex-direction: row;
    gap: 1px;
}
button
{
    
    display: block;
    margin-left: 35px;
    margin-top: 5px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3); 
    color: rgb(255, 0, 0);
    font-family: serif;
    font-size:x-large;
    box-shadow: 0 0 20px rgba(47, 68, 55, 0.8);

}
.occupied {
    pointer-events: none; /* Prevent further clicks */
}
